<h2 mat-dialog-title>JSON Data to store in DB</h2>
<mat-dialog-content class="mat-typography">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="item">
          <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="x">
          <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.x}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="y">
            <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.y}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="item1">
            <mat-header-cell *matHeaderCellDef> Item 1 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item2">
            <mat-header-cell *matHeaderCellDef> Item 2 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item2}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="item3">
            <mat-header-cell *matHeaderCellDef> Item 3 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item3}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="item4">
            <mat-header-cell *matHeaderCellDef> Item 4 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item4}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="item5">
            <mat-header-cell *matHeaderCellDef> Item 5 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.item5}} </mat-cell>
          </ng-container>

        
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="cancel()" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>