<!-- <h1>GoJS / Angular - POC Sample</h1>
<button (click)="calculate()">
  Calculate
</button>

<div class="left">
  Palette
  <gojs-palette #myPalette [initPalette]='initPalette' [divClassName]='paletteDivClassName' [nodeDataArray]='paletteNodeData'
    [linkDataArray]='paletteLinkData' [modelData]='paletteModelData' (modelChange)='paletteModelChange($event)'></gojs-palette>
</div>



<div class="left">
  Diagram
  <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='diagramModelData' [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div> -->

<!-- <div class="left">
  Overview
  <gojs-overview #myOverview [initOverview]='initOverview' [divClassName]='oDivClassName' [observedDiagram]='observedDiagram'></gojs-overview>
</div> -->




<mat-toolbar class="toolbar" color="primary">
  <!-- <span class="example-spacer"></span> -->
  <!-- <img alt="Home" height="63" width="60" style="margin-top: 8px" src="assets/whiteLogo.png" title="Home"  > -->

  <span class="">Kikblox Prototype</span>
  <span class="example-spacer"></span>

  <mat-nav-list>
    <a mat-button   [routerLink]="'/drawing'">
      <span class="nav-caption">Drawing</span>
    </a>
 
  </mat-nav-list>
</mat-toolbar>
<!-- <mat-toolbar class="toolbarMenu" color="primary">

</mat-toolbar> -->
<div class="bodyContainer">
  <router-outlet> </router-outlet>
</div>



